{% extends "layout.html" %}

{% block title %}
Go Live!
{% endblock %}

{% block main %}
<div id="container1" class="container py-1 rounded-3">
    <div id="container2" class="p-3 mb-2 rounded-3 bg-dark">
        <div id="container3" class="container-fluid py-5">
            <div id="heading-1" class="d-flex justify-content-center">
                <h3>You wanna Stream live? <a href="{{url_for('main.videoPlayer')}}">Click Here</a></h3>
            </div>

            <!-- <h2>Video Player</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id class="embed-responsive-item" src="{{url_for('main.videoFeed', ID=start)}}"></iframe>
            </div> -->
            <div class="d-flex justify-content-center">
                <fieldset>
                    <h4>Action</h4>
                    <div id="buttons-flex" class="d-flex justify-content-center">
                        {% for label, control in controls.items() %}
                        <button onclick="setMode(value='{{ control }}')" class="btn btn-primary">
                            {{ label }}
                        </button>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <fieldset>
                    <h4>Frame Per Second</h4>
                    <div id="buttons-flex" class="d-flex justify-content-center">
                        {% for label, frame in frams.items() %}
                        <button onclick="setFps(value='{{ frame }}')" class="btn btn-primary" id="{{ frame }}">
                            {{ label }}
                        </button>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <fieldset>
                    <h4>Resolution</h4>
                    <div id="buttons-flex" class="d-flex justify-content-center">
                        {% for label, setting in camera_settings.items() %}
                        <button onclick="setResolution(value='{{ setting }}')" class="btn btn-primary"
                            id="{{ setting }}">
                            {{ label }}
                        </button>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <fieldset>
                    <h4>Field of View</h4>
                    <div id="buttons-flex" class="d-flex justify-content-center">
                        {% for label, lince in linces.items() %}
                        <button onclick="setFov(value='{{ lince }}')" class="btn btn-primary" id="{{ lince }}">
                            {{ label }}
                        </button>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

{% endblock %}