{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
<section id="live-section">
    <div class="container-fluid">
        <div class="head">
            <h1>welcome</h1>
        </div>
        <div class="video-player">
            <div class="player">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="control-panel">
            <div class="d-flex justify-content-evenly">
                <button>play</button>
                <button>stop</button>
                <button>share</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}