{% extends "layout.html" %}

{% block title %}
SignUp
{% endblock %}

{% block main %}
<div class="signup-form">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }} Go to <a href="{{ url_for('auth.login') }}">Login</a>
  </div>
  {% endif %}
  {% endwith %}
  <form id="register_form" action="/register" method="post">
    <h2>SignUp</h2>
    <hr>

    <div class="form-group">
      <div class="row">
        <div class="col">
          <input class="form-control" id="fname_in" name="first_name" type="text" placeholder="First Name" required>
          <span class="error" id="fname-error-message"></span>
        </div>

        <div class="col">
          <input class="form-control" id="lname_in" name="last_name" type="text" placeholder="Last Name" required>
          <span class="error" id="lname-error-message"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" id="email_in" name="email" type="email" placeholder="Email" required>
      <span class="error" id="email-error-message"></span>
    </div>
    <div class="form-group">
      <input class="form-control" id="pass_in" name="password" type="password" placeholder="Password" required>
      <span class="error" id="pass-error-message"></span>
    </div>
    <div class="form-group">
      <input class="form-control" id="conf_pass_in" type="password" placeholder="Confirm Password" required>
      <span class="error" id="confpass-error-message"></span>
    </div>
    <!-- <div class="form-group">
      <label for="" class="form-check-label"><input type="checkbox">
        I accept the terms of use privacy policy</label>
    </div> -->

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg">
        SignUp
      </button>
    </div>

  </form>
</div>

{% endblock %}